* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  height: 2px;
}

.sign-up,
.sign-in {
  width: 400px;
  border: 2px solid #222;
  border-radius: 6px;
  /* display: none; */
}

.sign-up {
  height: 85vh;
  margin: 60px auto 0 auto;
  padding: 30px 20px;
}

.sign-in {
  height: 70vh;
  padding: 40px 20px;
  margin: 110px auto 0 auto;
}

.heading,
.login-text {
  text-align: center;
}

.login-card img {
  margin: 30px 0;
}

.login-card form {
  display: grid;
  gap: 3px;
}

.sign-in form {
  gap: 4px;
}

.sign-in img {
  margin: 35px 0;
}

.login-card form input {
  padding: 17px;
  font-size: 17px;
  border-radius: 6px;
  border: 1px solid;
}

.btn {
  height: 50px;
  border-radius: 4px;
  background-color: rgb(124, 43, 232);
  cursor: pointer;
  border: 1px solid;
  font-size: 18px;
  user-select: none;
  transition: 0.1s linear;
  font-weight: bold;
}

.btn:active {
  scale: 0.96;
}

.sign-in .btn {
  margin-top: 10px;
}

.login-text {
  margin: 25px auto;
  color: rgb(124, 43, 232);
  cursor: pointer;
  width: max-content;
}

.login-text:hover {
  text-decoration: underline;
}

.login-error {
  color: red;
}

/* main */

main {
  padding: 20px 40px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  font-size: 20px;
}

.user-profile {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.user-cards {
  width: 1000px;
  border-right: 1px solid;
}

.user-cards .title {
  text-align: center;
}

.user-cards .cards-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  overflow-x: scroll;
}

.card {
  width: 300px;
  padding: 20px;
  border: 2px solid #222;
  border-radius: 8px;
  width: max-content;
}

.card .card-center {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.card .ownerCard {
  font-size: 25px;
}

.card .cardExpiry {
  margin-top: 10px;
}

.user-menu {
  margin: 180px 20px 180px 20px;
  display: grid;
  place-items: center;
  gap: 30px;
  width: 420px;
}

.user-menu .menu-item {
  width: 100%;
  padding: 18px 0;
  font-size: 22px;
  cursor: pointer;
  border: 1px solid;
  background-color: rgb(0, 206, 206);
  border-radius: 6px;
  box-shadow: 2px 2px 1px 1px #333;
  transition: 0.1s linear;
}

.menu-item:active {
  box-shadow: unset;
}

/* addCardSection */

.addCardSection {
  margin: 180px auto;
  border: 2px solid #222;
  width: 400px;
  padding: 20px;
  border-radius: 6px;
}

.addCardSection .title {
  text-align: center;
  font-size: 30px;
}

.addCardSection form {
  margin: 30px 0 20px 0;
  display: grid;
}

.addCardSection form input {
  padding: 17px;
  font-size: 17px;
  border-radius: 6px;
  border: 1px solid;
}

.addCardSection form button {
  margin-top: 10px;
}

.disabled {
  display: none;
}
